<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Project Capstone Suite">

        <listeners>
            <listener class-name="listeners.TestListener"/>
        </listeners>
    <test name="Functional Tests">
        <classes>
            <class name="testCases.SearchProductTest"/>
            <class name="testCases.AddToCartProductTest"/>
            <class name="testCases.AddMultipleProductsToCartTest"/>
            <class name="testCases.PlaceOrderTest"/>
            <class name="testCases.PageNavigationTest"/>
        </classes>
    </test>
</suite>